.container {
    background-color: rgb(0, 255, 0);
    border: 2px solid blue;
}
.container-fluid {
    background-color: rgb(53, 255, 53);
    border: 2px solid blue;
}

.row {
    border: 2px solid red;
}

.col-1 {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
}